ALTER TABLE `game_admins` ADD `lr` TINYINT( 1 ) UNSIGNED NOT NULL DEFAULT '0';
ALTER TABLE `game_lr_services_hist` ADD `date` TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ,
ADD `value` VARCHAR( 30 ) NOT NULL;